.container {
    position: relative;
    width: 500px;
    border: 1px solid red;
}

.Collapsible * {
    box-sizing: border-box;
}

.Collapsible {
    position: relative;
}

.Collapsible__trigger {
    border: 1px solid black;
    background-color: #d1d1d1;
    width: 500px;
    z-index: 100;
}

.Collapsible__trigger div{
}


.Collapsible__trigger.is-closed{
    color: red;
}

.Collapsible__trigger.is-open{
    color: blue;
}

.Collapsible__contentOuter {
}

.Collapsible__contentInner {
}
